
.nav {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  background-color: #161616;
  color: white;
}
.navc {
padding: 1rem;
  text-decoration: none;
}
.navc:hover {
  text-decoration: none;
}
.book {
  /* other styles for the book element */
 
  color: white;
}

.book:hover {
  transform:rotate(90deg);
  background-color: aqua;

}
.rot {
  writing-mode: vertical-rl;
  text-orientation: upright;


}
.dim {
  display: flex;
  justify-content: center;
  background-color: #161616;

  padding-bottom: 1rem;
}

.spc {
  display: flex;
  justify-content: center;
  color: white;
}

.wiredstyl {
  color: "white";
  padding: 25;
  height: 440px;
  width: 750px;
}
.wiredvid {
  width: 700px;
  height: 398.48px;
}
.WiredFab {
  color: white;
}
/* Mobile screen */

@media (min-width: 300px) and (max-width: 500px) {
  .nav {
    margin-bottom: 0;
    padding: 0;
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: hsla(0,0%,100%,.4);
    width: 40%;
    height: 100%;
    margin-top: 10rem;
    padding: 1em;
    font-size: 1rem;
  }
  .name {
    color: rgb(255, 255, 255);
  }

  .pdesc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    font-size: small;
    margin-left: -50px;
    width: 350px
  }
  .wiredstyl {
    color: white;
    padding-right: 48px;
    padding-top: 19px;
    height: 250px;
    width: 350px;
    margin-left: -60px;

  }
  .ptitle {
    z-index: 10;
    margin-left: 10px;
    margin-bottom: 50px;
    max-width: 183px;
    display: flex;
    
    /* justify-content: center;
    align-content: flex-end; */
  }
.pbox {
 /* margin-right: 100px; */
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 background-color: "#161616";
 color: white;
 height: 95vh;
}

.pugbox {
  /* display: flex;
flex-direction: row;
 justify-content: space-between;
 align-items: center;
 margin-left: -60px; */
 margin-top: 60px;
}
  
}

/* MBP screen */

@media (min-width: 900px) and (max-width: 1441px) {
  .ptitle {
    margin-right: 13px;
    padding: 0;
    }
    
    .pbox {
    width: 1296px;
    height: 582px;
    display: flex;
    justify-content: "center";
    background-color: "#161616";
    color: white;
    padding: 6px;
    margin-left: 2px;
    }
    
    .pugbox {
    display: flex;
    justify-content: center;
    background-color: "#161616";
    margin-top: 20px;
    margin-left: 250px;
    } 

    .hero {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-family: 'Inter', sans-serif;
      color: hsla(0,0%,100%,.4);
      width: 40%;
      height: 100%;
      margin-top: 5rem;
      margin-left: 1rem;
      margin-bottom: 20rem;
    }
    .name {
      color: rgb(255, 255, 255);
    }

}

/* Desktop screen */
@media (min-width: 1442px) {
  .ptitle {
    margin-left: 13px;
    }
    
    .pbox {
    width: 1296px;
    height: 582px;
    display: flex;
    justify-content: "center";
    background-color: "#161616";
    color: white
    }
    
    .pugbox {
    display: flex;
    justify-content: center;
    background-color: "#161616";
    margin-top: 150px;
    margin-left: 450px;
    } 

    .hero {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      font-family: 'Inter', sans-serif;
      width: 40%;
      height: 100%;
      margin-top: 5rem;
      margin-bottom: 20rem;
      color: hsla(0,0%,100%,.4);
    }
    .name {
      color: rgb(255, 255, 255);
    }
}

.nolive {
  visibility: hidden;
}